/*
Theme Name: Twenty Seventeen Child
Template: twentyseventeen

*/



/*@import url("../twentyseventeen/style.css");*/

h1.site-title {
    font-family: 'Bubbler One', sans-serif;
    font-size: 96px;
    background: pink;
}

.wp-custom-header img {
    display:none;
}

.wp-custom-header {
    background-image:url(img/bg.jpg);
    background-size: cover;
    width:100%;
    height:100%;
}